<footer>
  <div class="container">
  <hr>
    <p class="pull-right">
    <a href="https://www.instagram.com/ftc7129/" target="_blank"><img width="32" height="32" title="" alt="" src="{{ url_for('static', filename='img/instagram.png') }}"></a>
    <a href="https://twitter.com/ftc7129" target="_blank"><img width="32" height="32" title="" alt="" src="{{ url_for('static', filename='img/twitter.png') }}"></a>
    <a href="https://www.facebook.com/roboraidersftc7129" target="_blank"><img width="32" height="32" title="" alt="" src="{{ url_for('static', filename='img/Facebook.png') }}"></a>
    <a href="https://www.youtube.com/roboraidersftc7129" target="_blank"><img width="32" height="32" src="{{ url_for('static', filename='img/YouTube.png') }}"></a>
    <a href="/calendar" target="_blank"><img width="32" height="32" src="{{ url_for('static', filename='img/google-calendar.png') }}"></a>
    <a href="http://www.firstinspires.org/" target="_blank"><img width="32" height="32" src="{{ url_for('static', filename='img/FIRST.png') }}"></a>
    </p>

    <p class="pull-left">© 2019 <a href="mailto:teamroboraiders@gmail.com">Robo Raiders FTC 7129</a>
    </p>
  </div>
</footer>