{% extends "base.html" %}
{% block content %}

<div class="container">
<br>
  <div class="well">
    <img style='float:left; height:300px; margin-right:10px;' src="{{ url_for('static', filename='img/rr_about-min.png') }}" alt="...">
      <div class="text">
        <h1>
        Who are we?
        </h1>
        <p>
          We are a Christian, home schooled robotics team competing in <a href="http://www.firstinspires.org/robotics/ftc" target="_blank">FIRST® Tech Challenge</a>: one of the high school programs in FIRST®.   We have a lot of fun learning about and solving the problems presented to us through the mission.  Each year we plan, design, build, program, test, and drive a robot that we think will do well on the robot mission field.  We have set up our team like a business with sub teams (departments) that are technical and non-technical.  This allows us to experience real world team building strategies while ensuring all the work gets done.
        </p>
        <p>
          We began as an FLL (<i>FIRST</i> Lego League) team in 2009 in the <i>Smart Move</i> challenge. From there we went on to compete in <i>Body Forward</i>, <i>Food Factor</i>, and <i>Senior Solutions</i>. In our <i>Senior Solutions</i> year, we competed in the 2013 FLL World Festival in St. Louis, MO where we won the 3rd Place Champion’s Award.
        </p>
        <p>
          In 2014 we moved up to FTC where we competed in <i>Block Party</i>. As a rookie team we made it to Worlds and were nominated for the Think Award.  In 2015, we returned to the FIRST World Championship where we were nominated for the Think (Engineering Notebook Documentation) and the Control (Software and sensors) Awards.  We also placed in the top 30% of the robot game.
        </p>
           <p>During our Velocity Vortex season, we won the Inspire Award (Top award given at a competition) at North Super Regionals. From there, we went on to compete at the World Championship in St. Louis, where we were the Fourth-Seed Alliance Captain, and made it to the semi-finals.</p>
        <p>
          Our mission statement:
          "To learn as much as possible, share FIRST® with as many people as possible, and mentor as many teams as possible.  We want to leave a legacy beyond just our own FTC experience."
        </p>
      </div>
  </div>
</div>

<div class="container">
<div class="well">
<p>
<h3>
  Gracious Professionalism is important to all teams of FIRST. We created a team Code of Ethics to better define what Gracious Professionalism means to our team.
</h3>
</p>
<br>
<p style="text-align: center;">Adapted from 1 Corinthians 13:4-8a</p>
<br>
  <table style="width:100">
  <tr>
    <th>Code of ethics</th>
    <th>1 Corinthians 13:4-8a</th>
  </tr>
  <tr>
    <td>Team members are patient and kind. They do not envy others’ success, nor do they boast about their own; they are not arrogant.</td>
    <td>Love is patient, love is kind. It does not envy, it does not boast, it is not proud.</td>
  </tr>
  <tr>
    <td>They are not rude, self-seeking, or easily angered, but are willing to forgive and work with others despite unexpected challenges.</td>
    <td>It is not rude, it is not self-seeking, it is not easily angered, it keeps no record of wrongs.</td>
  </tr>
  <tr>
    <td>Such a team does not take delight when an opposing alliance’s robot malfunctions, but rejoices with other teams’ success.</td>
    <td>Love does not delight in evil but rejoices with the truth.</td>
  </tr>
  <tr>
    <td>They are always willing to help, always ready to trust, always hoping for success, always working to the best of their ability.</td>
    <td>It always protects, always trusts, always hopes, always perseveres.</td>
  </tr>
  <tr>
    <td>Team members don’t fail one another.</td>
    <td>Love never fails.</td>
  </tr>
</table>
<br>
  <p style="text-align: center;">This is what Gracious Professionalism means to our team.</p>
</div>
</div>

{#<div class="container">#}
{#<br>#}
{#  <div class="well">#}
{#    <img style='float:right; width:40%; margin-right:10px;' src="{{ url_for('static', filename='img/awards.JPG') }}" alt="...">#}
{#      <div class="text">#}
{#        <h1>#}
{#        2016-2017 Awards#}
{#        </h1>#}
{#        <h2>Illinois South Central League Qualifier</h2>#}
{#        <ul>#}
{#        <li>Winning Alliance First Pick</li>#}
{#        <li>Inspire 1st Place</li>#}
{#        </ul>#}
{#        <h2>Missouri Meramec Qualifier</h2>#}
{#        <ul>#}
{#        <li>Winning Alliance First Pick</li>#}
{#        <li>Inspire 1st Place</li>#}
{#        </ul>#}
{#        <h2>Illinois State Championship</h2>#}
{#        <ul>#}
{#        <li>Finalist Alliance Captain</li>#}
{#        <li>Think 1st Place</li>#}
{#        <li>Inspire 2nd Place</li>#}
{#        </ul>#}
{#        <h2>Missouri State Championship</h2>#}
{#        <ul>#}
{#        <li>Winning Alliance First Pick</li>#}
{#        </ul>#}
{#        <h2>North Super Regional</h2>#}
{#        <ul>#}
{#        <li>Finalist Alliance First Pick, Kindig Division</li>#}
{#        <li>Inspire 1st Place</li>#}
{#        </ul>#}
{#        <h2>St. Louis World Championship</h2>#}
{#        <ul>#}
{#        <li>4th Seed Alliance Captain, Ochoa Division</li>#}
{#        </ul>#}
{#      </div>#}
{#  </div>#}
{#</div>#}


<div class="container">
<br>
  <div class="well">
      <div class="text">
      <p>
        <h2>About <i>FIRST</i></h2>
      </p>
      <p>
        <i>FIRST</i> (<b>F</b>or <b>I</b>nspiration and <b>R</b>ecognition of <b>S</b>cience and <b>T</b>echnology) was founded in 1989 to inspire young people's interest and participation in science and technology. Based in Manchester, NH, the 501(c)(3) not-for-profit public charity designs accessible, innovative programs that motivate young people to pursue education and career opportunities in science, technology, engineering, and math, while building self-confidence, knowledge, and life skills.
      </p>
      <p>
        <i>FIRST</i> is <b>More Than Robots.</b> <i>FIRST</i> participation is proven to encourage students to pursue education and careers in STEM-related fields, inspire them to become leaders and innovators, and enhance their 21st century work-life skills.
      </p>
         <p>
        <h2>Mission</h2>
      </p>
      <p>
        The mission of <i>FIRST</i> is to inspire young people to be science and technology leaders, by engaging them in exciting Mentor-based programs that build science, engineering, and technology skills, that inspire innovation, and that foster well-rounded life capabilities including self-confidence, communication, and leadership.
      </p>
      <p>
        <h2>Vision</h2>
      </p>
      <p>
        <i>"To transform our culture by creating a world where science and technology are celebrated and where young people dream of becoming science and technology leaders."</i> ~Dean Kamen, Founder
      </p>
      <p>
        <h1>Methodology</h1>
      </p>
      <p>
        Engage kids in kindergarten through high school in exciting, Mentor-based, research and robotics programs that help them become science and technology leaders, as well as well-rounded contributors to society.
      </p>
      <br>
      <p> Taken from <i>FIRST</i>'s
      <a href="http://www.firstinspires.org/about/vision-and-mission" target="_blank">Vision and Mission</a>
      page.
      </p>

      </div>
  </div>
</div>

{% endblock %}