{% extends 'base.html' %}

{% block content %}
    <h1>Add Scouting Record</h1>
    <h3>Remaining Teams to Scout</h3>
    <ul>
    {% for team in teams %}
        <li>{{ team }}</li>
    {% endfor %}
    </ul>

    <hr>
    {% from "includes/_formhelpers.html" import render_field %}
    {% from "includes/_formhelpers.html" import render_booleanfield %}
    <form method="POST" action="">
        <div class="form-group">
            {{ render_field(form.team_number, class_="form-control") }}
        </div>
        <div class="form-group">
            {{ render_field(form.team_name, class_="form-control") }}
        </div>
        <div class="form-group">
            {{ render_field(form.comp, class_="form-control") }}
        </div>
        <div class="form-group">
            {{ render_field(form.a_lander_loc, class_="form-control") }}
        </div>
        <div class="form-group">
            {{ render_booleanfield(form.a_landed) }}
        </div>
        <div class="form-group">
            {{ render_field(form.a_landed_rel, class_="form-control") }}
        </div>
        <div class="form-group">
            {{ render_booleanfield(form.a_sample) }}
        </div>
        <div class="form-group">
            {{ render_field(form.a_sample_rel, class_="form-control") }}
        </div>
        <div class="form-group">
            {{ render_booleanfield(form.a_marker) }}
        </div>
        <div class="form-group">
            {{ render_field(form.a_marker_rel, class_="form-control") }}
        </div>
        <div class="form-group">
            {{ render_booleanfield(form.a_park) }}
        </div>
        <div class="form-group">
            {{ render_field(form.a_park_rel, class_="form-control") }}
        </div>
        <div class="form-group">
            {{ render_field(form.a_compatible, class_="form-control") }}
        </div>
        <div class="form-group">
            {{ render_field(form.a_notes, class_="form-control") }}
        </div>
        <div class="form-group">
            {{ render_booleanfield(form.t_score_lander) }}
        </div>
        <div class="form-group">
            {{ render_field(form.t_mineral, class_="form-control") }}
        </div>
        <div class="form-group">
            {{ render_field(form.t_cycle, class_="form-control") }}
        </div>
        <div class="form-group">
            {{ render_field(form.t_load, class_="form-control") }}
        </div>
        <div class="form-group">
            {{ render_field(form.t_score_position, class_="form-control") }}
        </div>
        <div class="form-group">
            {{ render_field(form.t_notes, class_="form-control") }}
        </div>
        <div class="form-group">
            {{ render_booleanfield(form.e_hang) }}
        </div>
        <div class="form-group">
            {{ render_field(form.e_hang_rel, class_="form-control") }}
        </div>
        <div class="form-group">
            {{ render_field(form.e_hangtime, class_="form-control") }}
        </div>
                <div class="form-group">
            {{ render_field(form.e_notes, class_="form-control") }}
        </div>
        <p><input type="submit" class="btn btn-primary" value="Submit"></p>
    </form>


{% endblock %}