{% extends "base.html" %}
{% block content %}

    <p>&nbsp;</p>
<div class="timeline">
  <div class="container1 left">
    <div class="content1">
      <h2>Relic Recovery</h2>
        <h4>2017-2018</h4>
        <h3>North Super Regionals</h3>
        <ul>
            <li>Connect Award - 3rd place</li>
            <li>Finalist Alliance Tinker Division - second pick</li>
        </ul>
        <h3>IL State Championship</h3>
            <ul>
                <li>Promote Award - winner</li>
                <li>Winning alliance - second pick</li>
            </ul>
          <h3>Southern/Central East IL League Championship</h3>
            <ul>
                <li>Inspire Award - winner</li>
                <li>Winning alliance - first pick</li>
            </ul>
    </div>
  </div>
  <div class="container1 right">
    <div class="content1">
      <h2>Velocity Vortex</h2>
        <h4>2016-2017</h4>
      <h3>World Championships</h3>
        <ul>
            <li>4th Seed Alliance - captain (Ochoa)</li>
        </ul>
        <h3>North Super Regionals</h3>
        <ul>
            <li>Inspire Award - winner</li>
            <li>Finalist Alliance - first pick (Kindig)</li>
        </ul>
        <h3>IL State Championships</h3>
        <ul>
            <li>Think Award - winner</li>
            <li>Inspire Award - runner up</li>
            <li>Finalist Alliance - captain</li>
        </ul>
        <h3>MO State Championships</h3>
        <ul>
            <li>Innovate Award - runner up</li>
            <li>Winning Alliance - first pick</li>
        </ul>
        <h3>IL Qualifier</h3>
        <ul>
            <li>Inspire Award - winner</li>
            <li>Winning Alliance - first pick</li>
        </ul>
        <h3>MO Qualifier</h3>
        <ul>
            <li>Inspire Award - winner</li>
            <li>Winning Alliance - first pick</li>
        </ul>
    </div>
  </div>
  <div class="container1 left">
    <div class="content1">
      <h2>RES-Q</h2>
        <h4>2015-2016</h4>
      <h3>North Super Regionals</h3>
        <ul>
            <li>Promote Award - winner</li>
        </ul>
        <h3>IL State Championships</h3>
        <ul>
            <li>Inspire Award - winner</li>
            <li>Compass Award - winner</li>
            <li>Finalist Alliance - first pick</li>
        </ul>
        <h3>IL Qualifier</h3>
        <ul>
            <li>Inspire Award - winner</li>
            <li>Finalist Alliance - first pick</li>
        </ul>
    </div>
  </div>
<div class="container1 right">
    <div class="content1">
      <h2>Cascade Effect</h2>
        <h4>2014-2015</h4>
      <h3>World Championships</h3>
        <ul>
            <li>Think Award - nominated</li>
            <li>Control Award - nominated</li>
        </ul>
        <h3>North Super Regionals</h3>
        <ul>
            <li>Think Award - winner</li>
        </ul>
        <h3>IL State Championships</h3>
        <ul>
            <li>Inspire Award - winner</li>
            <li>Finalist Alliance - first pick</li>
        </ul>
        <h3>MO State Championships</h3>
        <ul>
            <li>Think Award - winner</li>
            <li>Promote Award - winner</li>
            <li>Compass Award - nominated</li>
        </ul>
        <h3>IL Qualifier</h3>
        <ul>
            <li>Think Award - winner</li>
            <li>Finalist Alliance - first pick</li>
        </ul>
    </div>
  </div>
  <div class="container1 left">
    <div class="content1">
      <h2>Block Party!</h2>
        <h4>2013-2014</h4>
        <h3>World Championships</h3>
        <ul>
            <li>Think Award - nominated</li>
        </ul>
        <h3>North Super Regionals</h3>
        <ul>
            <li>Think Award - winner</li>
        </ul>
        <h3>IL State Championships</h3>
        <ul>
            <li>Think Award - winner</li>
        </ul>
        <h3>IL Qualifier</h3>
        <ul>
            <li>Think Award - winner</li>
            <li>Inspire Award - runner up</li>
        </ul>
    </div>
  </div>
</div>

{% endblock %}