<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RoboRaiders</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
{#    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">#}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <script src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>
{#    <script src="{{ url_for('static', filename='js/jquery.tablesorter.min.js') }}"></script>#}
{#    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>#}
{#    <script src="{{ url_for('static', filename='js/jquery.floatThead.min.js') }}"></script>#}
{#    <script src="{{ url_for('static', filename='js/main.js') }}"></script>#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1">#}
</head>
<body>
    {% include "includes/_navbar.html" %}

    <div class="container">
        {% include "includes/_messages.html" %}
      {% block content %}
      {% endblock %}
    </div>

    {% include "includes/_footer.html" %}

{#    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>#}
{#    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>#}

</body>
</html>