{% extends "base.html" %}
{% block content %}

  <div class="container">
      <div class="well">
          <h2>Robo Raiders Upcoming Events</h2>
          <ul class="list">
              <li><strong>June 21st</strong>: O'Fallon Library (DEMO)</li>
              <li><strong>July 10th - 14th</strong>: FLL Summer Camp in O'Fallon</li>
              <li><strong>July 17th - 21st</strong>: FLL Summer Camp in Belleville</li>
          </ul>
      </div>
      <div class="ct">
        <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=ls8cc3v4gjafi09u9bdro984fo%40group.calendar.google.com&amp;color=%23125A12&amp;src=m4liesv9cqjsuno9ccni3foe20%40group.calendar.google.com&amp;color=%2342104A&amp;src=b5b5c3608e9vjljojfghlv9b6s%40group.calendar.google.com&amp;color=%231B887A&amp;ctz=America%2FChicago" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
      </div>
  </div>


{% endblock %}