{% extends "base.html" %}
{% block content %}

<div class="container">
<div class="well">

    <h2>2019 FLL Summer Camps!</h2>
    <div class="row">
     <div class="col-xs-6">
         <p>Each summer, the Robo Raiders teach week-long day-camps for kids ages
8 through 14, with a three-day option as well for K-3rd students.
During these camps, we use NXT Lego robot kits to teach kids the basics
of NXT programming, core values, problem solving, and provide them with
their own game challenge to complete and showcase at the end of the
             week.</p>
<p>In our advanced camp, we provide an opportunity for kids with experience
in FLL programming to learn advanced EV3 programming and test their
problem-solving skills with a modified FLL game challenge.
We had a fantastic two weeks of summer camp this year and we were so
proud of what the students were able to accomplish! We look forward to
doing it again next year, so keep a look out for updates!</p>


         <hr>

         <h3><a href="https://roboraiders.regfox.com/robo-raiders-robotics-camp-i">Robotics Camp</a> - Belleville (July 15 - 19)</h3>

         <dl>
              <dt>FLL Jr - $35</dt>
              <dd>K-3rd students, max 12 students</dd>
              <dd>All materials provided</dd>
              <dd>Work with a partner to begin exploration of STEM concepts, model building, and project research. Hands-on activities with simple machines and coding games. Use WeDo Robotics kit for into into Jr. FLL program.</dd>
          </dl>
          <dl>
              <dt>FLL Robotics I - $50</dt>
              <dd>4th-8th students with no prior experience</dd>
              <dd>Student teams provided with Lego Mindstorm robot and laptop</dd>
              <dd>Work with a partner to use the robot to explore STEM concepts through programming mission tasks with motors and sensors</dd>
          </dl>
          <dl>
              <dt>FLL Robotics II - $50</dt>
              <dd>4th-9th students with prior experience</dd>
              <dd>Student teams provided with Lego Mindstorm robot and laptop, but bring your own is encouraged as well</dd>
              <dd>Gain greater insights to NXT/EV3 programming techniques</dd>
              <dd>Develop sensor, attachement, and strategy skills</dd>
          </dl>
         <dl>
             <dt> Camp Auditing - $15</dt>
             <dd>Coaches/parents/mentors may audit any session. Chaperones are free with prior approval.</dd>
         </dl>
     </div>
     <div class="col-xs-6">
        <p><img src="{{ url_for('static', filename="img/camp/sc1-min.png") }}" class="img-responsive pull-right"></p>
     </div>
        <p>&nbsp;</p>
    <div class="col-xs-6">
        <p><img src="{{ url_for('static', filename="img/camp/sc2-min.png") }}" class="img-responsive pull-right"></p>
    </div>
        <p>&nbsp;</p>
    <div class="col-xs-6">
        <p><img src="{{ url_for('static', filename="img/camp/sc4-min.png") }}" class="img-responsive pull-right"></p>
    </div>

   </div>

<hr>
    <p style="text-align: center"><br/><a class="wx-button" href="https://roboraiders.regfox.com/robo-raiders-robotics-camp" style="background:#7BB044;color:white;padding:10px 20px;text-decoration:none;font-weight:bold;" target="_blank">Register Now</a></p>
    <p><br/>Registration closes <b>Friday, June 28<sup>th</sup></b>. Register before June 15<sup>th</sup> and use the code <strong>EARLYBIRD</strong> at checkout for a $10 discount. Space is limited; registration will be confirmed via email.</p>
<hr>

<p><b>Questions:</b> Contact <a href="mailto:teamroboraiders@gmail.com">teamroboraiders@gmail.com</a> or call Jason Rahm at 618-402-8550.  Please do not contact the church for information; they are not handling registration.</p>

</div>
</div>
{% endblock %}