{% extends "base.html" %}
{% block content %}

<div class="container">
<div class="well">

    <h2>2019 FLL Summer Camps!</h2>
    <div class="row">
     <div class="col-xs-6">
         <p>Each summer, the Robo Raiders teach half day, week-long camps for students entering 2nd-8th grades.
             During these camps, we use Lego robot kits to teach the basics of programming, core values, problem
             solving, and provide students with a FIRST Robotics themed challenge to complete and showcase at the end
             of the week.</p>
         <p>Intro to Robotics is for students entering 2nd-4th grades and uses the WeDo platform.  It will feature the
             Moon Mission challenge from FIRST LEGO League Junior.</p>
         <p>Robotics I is for students entering 4th-8th grades who have no previous robotics experience.  Using the
             NXT LEGO robot platform, they will learn basics of drop and drag programming, sensor use, and finish off
             the week with the Into Orbit themed challenge from FIRST LEGO League.</p>
         <p>In our Robotics II Advanced camp, we provide an opportunity for kids with experience in FLL programming to
             learn advanced EV3 programming, build more complicated attachments, and test their problem-solving skills
             with the Into Orbit game challenge.</p>
         <hr>

         <h3><a href="https://roboraiders.regfox.com/robo-raiders-robotics-camp">Robotics Camp</a> - Belleville (July 15 - 19)</h3>

         <dl>
              <dt>Intro to Robotics - $50</dt>
              <dd>2nd - 4th grade students, max 12 students</dd>
             <dd>All materials provided</dd>
              <dd>Welcome to Mission Moon from FIRST LEGO League Junior!  Using the WeDo Robotics kit, students will
                  work with a partner to begin exploration of STEM concepts.  Projects include building LEGO models and
                  programming simple code.  We will finish the week by learning about living on the moon, then designing
                  and programming equipment for a moon base.</dd>
          </dl>
          <dl>
              <dt>Robotics I - $50</dt>
              <dd>4th-8th grade students with no prior experience</dd>
              <dd>Student teams provided with Lego Mindstorm robot and laptop</dd>
              <dd>Work with a partner to use the robot to explore STEM concepts through programming mission tasks using
                  motors and sensors</dd>
          </dl>
          <dl>
              <dt>Robotics II - $50</dt>
              <dd>4th-9th students with prior experience (TLC, FLL team, 4-H, etc)</dd>
              <dd>Student teams provided with Lego Mindstorm robot and laptop, but bringing your own is encouraged as well</dd>
              <dd>Gain greater insights to NXT/EV3 programming techniques</dd>
              <dd>Develop sensor, attachment building, and strategy skills</dd>
          </dl>
         <dl>
             <dt> Camp Auditing - $15</dt>
             <dd>Coaches/parents/mentors may audit any session. Chaperones are free with prior approval.</dd>
         </dl>
     </div>
     <div class="col-xs-6">
        <p><img src="{{ url_for('static', filename="img/camp/sc1-min.png") }}" class="img-responsive pull-right"></p>
     </div>
        <p>&nbsp;</p>
    <div class="col-xs-6">
        <p><img src="{{ url_for('static', filename="img/camp/sc2-min.png") }}" class="img-responsive pull-right"></p>
    </div>
        <p>&nbsp;</p>
    <div class="col-xs-6">
        <p><img src="{{ url_for('static', filename="img/camp/sc4-min.png") }}" class="img-responsive pull-right"></p>
    </div>

   </div>

<hr>
    <p style="text-align: center"><br/><a class="wx-button" href="https://roboraiders.regfox.com/robo-raiders-robotics-camp" style="background:#990000;color:white;padding:10px 20px;text-decoration:none;font-weight:bold;" target="_blank">Register Now</a></p>
    <p><br/>Registration closes <b>Friday, June 28<sup>th</sup></b>. Register before June 15<sup>th</sup> and use the code <strong>EARLYBIRD</strong> at checkout for a $10 discount. Space is limited; registration will be confirmed via email.</p>
<hr>

<p><b>Questions:</b> Contact <a href="mailto:teamroboraiders@gmail.com">teamroboraiders@gmail.com</a> or call Jason Rahm at 618-402-8550.  Please do not contact the church for information; they are not handling registration.</p>

</div>
</div>
{% endblock %}