{% extends "base.html" %}
{% block content %}

<div class="container">
<div class="well">

    <h2>2018 FLL Summer Camps!</h2>
    <div class="row">
     <div class="col-xs-6">
         <p>Each summer, the Robo Raiders teach week-long day-camps for kids ages 8 through 14, with a three-day option as well for K-3rd students.</p>
         <p> During these camps, we use NXT Lego robot kits to teach kids the basics of NXT programming, core values, problem solving, and provide them with their own game challenge to complete and showcase at the end of the week.</p>
        <p>In our advanced camp, we provide an opportunity for kids with experience in FLL programming to learn advanced EV3 programming and test their problem-solving skills with a modified FLL game challenge. </p>
         <p>For both weeks of camp, we offer <strong>morning (9-11:45) and afternoon (1-3:45) sessions</strong>.</p>
        <h3>Robotics Camp I - Belleville (July 9 - 13)</h3>

         <dl>
             <dt>FLL Jr - $35</dt>
             <dd>K-3rd students, max 15 students</dd>
             <dd>July 9 - 11 only</dd>
             <dd>All materials provided</dd>
             <dd>Work with a partner to begin exploration of STEM concepts, model building, and project research. Hands-on activities with simple machines and coding games.</dd>
         </dl>
         <dl>
             <dt>FLL Robotics I - $50</dt>
             <dd>4th-8th students with no prior experience</dd>
             <dd>Student teams provided with Lego Mindstorm robot and laptop</dd>
             <dd>Work with a partner to use the robot to explore STEM concepts through programming mission tasks with motors and sensors</dd>
         </dl>
         <dl>
             <dt>FLL Robotics II - $50</dt>
             <dd>4th-9th students with prior experience</dd>
             <dd>Student teams provided with Lego Mindstorm robot and laptop, but bring your own is encouraged as well</dd>
             <dd>Gain greater insights to NXT/EV3 programming techniques</dd>
             <dd>Develop sensor, attachement, and strategy skills</dd>
         </dl>
         <h3>Robotics Camp II - O'Fallon (July 30 - Aug 3)</h3>
         <dl>
             <dt>FLL Robotics I - $50</dt>
             <dd>4th-8th students with no prior experience</dd>
             <dd>Student teams provided with Lego Mindstorm robot and laptop</dd>
             <dd>Work with a partner to use the robot to explore STEM concepts through programming mission tasks with motors and sensors</dd>
         </dl>
         <dl>
             <dt>FLL Robotics II - $50</dt>
             <dd>4th-9th students with prior experience</dd>
             <dd>Student teams provided with Lego Mindstorm robot and laptop, but bring your own is encouraged as well</dd>
             <dd>Gain greater insights to NXT/EV3 programming techniques</dd>
             <dd>Develop sensor, attachement, and strategy skills</dd>
         </dl>
     </div>
     <div class="col-xs-6">
        <p><img src="{{ url_for('static', filename="img/camp/camp1.jpg") }}" class="img-responsive pull-right"></p>
     </div>
        <p>&nbsp;</p>
{#        <div class="row">#}
            <div class="col-xs-6">
                <p><img src="{{ url_for('static', filename="img/camp/camp3.jpg") }}" class="img-responsive pull-right"></p>
            </div>
        <p> </p>
            <div class="col-xs-6">
                <p><img src="{{ url_for('static', filename="img/camp/camp4.jpg") }}" class="img-responsive pull-right"></p>
            </div>
{#        </div>#}
   </div>

<h3><b><u>
For all camps:
</u></b></h3>
<p><b>Audit fee:</b> Coaches/parents/mentors may audit any session for $15.  Chaperones are free with prior approval.</p>
    <p><b>To Register:</b> Complete registration form for <a href="https://roboraiders.regfox.com/robo-raiders-robotics-camp-i">Camp I in Belleville</a> or <a href="https://roboraiders.regfox.com/robo-raiders-robotics-camp-ii">Camp II in O'Fallon</a>.</p>
<p><b>Registration deadline:</b> Registration is due by <b>Friday, June 30th</b>.   Space is limited; registration will be confirmed via email.</p>
<p><b>Questions:</b> Contact <a href="mailto:teamroboraiders@gmail.com">teamroboraiders@gmail.com</a> or call Rebecca Phillips at 618-206-8652.  Please do not contact the church for information, as they are not handling registration.</p>

</div>
</div>
{% endblock %}