{% extends "base.html" %}
{% block content %}

<div class="container">
  <div class="well">

    <h1>2017-2018 Relic Recovery Robot: (To Be Determined...)</h1>

    <p><a href="https://www.youtube.com/watch?v=tNPvKb7-3xE">Relic Recovery Game Teaser Video</a></p>

    <img style='float:right; height:450px; margin-right:10px; margin-left: 10px;' src="{{ url_for('static', filename='img/Crossfire2.png') }}" alt="...">


    <h1>2016-2017 Velocity Vortex Robot: Crossfire</h1>

    <p><a href="https://www.youtube.com/watch?v=iQLrcQbm8cg">Velocity Vortex Game Video</a></p>

    <p>
      After building our robot in three days (Ri3D), we started work on our main competition robot. Our Ri3D robot was very good, but the design needed to be improved to stay competitive. While planning the new robot, we determined that we needed to add the ability to score the beacons in autonomous and score the cap ball in end game. Crossfire was the result.
    </p>
    <p><a href="https://youtu.be/GYuARz12BjM">Crossfire Reveal Video</a></p>

    <p>
      Most of Crossfire’s design is an improved version of Velociraptor. We kept the EVA foam paddle at the front of the robot, and added surgical tubing beater bars above the paddle to lift the balls into our hopper system. The Choo-Choo catapult design was also recycled with some improvements as it had proven to work very well.
    </p>
    <p>
    <img style='float:left; height:250px; margin-right:10px; margin-left: 10px;' src="{{ url_for('static', filename='img/Crossfire.png') }}" alt="...">
      We added a cap ball lift at the back of Crossfire to allow us to cap in End Game. The mechanism uses polycore belting to quickly grab and score the cap ball allowing us to collect and score it in under 15 seconds.
    </p>
    <p>
      Crossfire has competed at 2 league meets and the Meramec MO Qualifier. Crossfire’s quick-capping system and fast particle scoring allowed us to be the first pick of the winning alliance at Meramec, which along with the Inspire award qualified us for MO state where we will be competing later this year.
    </p>
  </div>
</div>

<div class="container">
  <div class="well">
    <br>

    <img style='float:right; height:250px; margin-right:10px;' src="{{ url_for('static', filename='img/velociraptor.jpg') }}" alt="...">

    <h1>2016-2017 Velocity Vortex Robot in 3 Days: Velociraptor</h1>
    <p>
      Velociraptor was our first Ri3D robot. It utilized an EVA foam paddle (From later in our Cascade Effect season) to collect particles, which were then funneled into a spring-loaded catapult. The catapult used a Choo-Choo mechanism to allow for easy firing, and was incredibly accurate.
    </p>
    <p><a href="https://www.youtube.com/watch?v=tAMF2SiSUHQ">Velociraptor Reveal Video</a></p>
    <p>
      Velociraptor competed at 2 league meets and did not lose a single match due to its 2 ball autonomous and 7-10 ball teleop. Velociraptor will now become a practice robot to compete against our main Velocity Vortex robot (stay tuned for that one). Overall we are very pleased with the outcome of our first Robot in 3 Days, and hope to repeat the challenge next year.
    </p>
  </div>
</div>

<div class="container">
  <div class="well">
    <br>

    <img style='float:left; height:250px; margin-right:10px;' src="{{ url_for('static', filename='img/Hannibal1.JPG') }}" alt="...">

    <h1>2015-2016 Res-Q Robot: Hannibal (V1 and V2)</h1>

    <p><a href="https://www.youtube.com/watch?v=inwQ_ykNKQI">Res-Q Game Video</a></p>
    <p>
      For our Res-Q year our robot was a combination of a climbing and an extending robot. It used treads off of a robotic pool cleaner to climb, which worked well enough to allow us to climb to the high zone within two weeks of the game release. However, as we added more parts to our robot to allow us to score debris, we began to have a problem with falling backward off the ramp.
    </p>
    <p>
      In addition to the treads, Hannibal V1 had a lead screw driven lift, which allowed us to shift our center of gravity while climbing, as well as get one load of blocks in the high goal. To collect debris we used a rubber band reel (remenicent of Cascade Effect) which collected blocks extremely quickly since the rubber bands would catch the edge of a block and roll it into our scoop. From there the scoop arm would raise and the blocks would slide back into a tread system which would score off to the side.
    </p>
    <p>
    <img style='float:right; height:200px; margin-left:10px;' src="{{ url_for('static', filename='img/Hannibal2.jpg') }}" alt="...">
      As we continued to make modifications our tipping problem grew worse, so we decided to switch the orientation of the collection to the other side of the robot, decrease its width, and add a side-to-side rack and pinion. This effectively eliminated our tipping problem, allowed us to score in the high goal much more effectively (fitting 14 blocks in during practice), and eventually hang from the top bar.
    </p>
    <p>
      For autonomous we were able to deliver the climbers into the shelter or park fully on the ramp low zone. By ourselves we could score 10 blocks in the high goal, trigger all three climbers and hang for a total of 255 points.
    </p>
    <p>
      We did not advance from North Super Regional, but we won the Promote Award there. During our Res-Q season we greatly increased our precision manufacturing skills, and helped a lot of teams figure out the new Android control system. Since we did not advance to the World Championship which is located only half an hour away, we took the opportunity to volunteer. In doing so we got a lot of great tips from teams there, and had a great time watching all the robots compete.
    </p>
  </div>
</div>

<div class="container">
  <div class="well">
    <br>

    <img style='float:left; height:250px; margin-right:10px;' src="{{ url_for('static', filename='img/Sabertooth.JPG') }}" alt="...">

    <h1>2015-2016 Res-Q Robot: Sabertooth (unused)</h1>
    <p>
      About the time of the Missouri State championship our main Res-Q robot started having major problems with the rubber treads popping off. This, along with our low maneuverability and the fact that we could only get about 10 blocks in the high goal each match prompted us to take on the project of building a completely new extention-based robot to be used at the World Championship.
    </p>
    <img style='float:right; height:200px; margin-right:10px;' src="{{ url_for('static', filename='img/Sabertooth CAD.png') }}" alt="...">
    <p>
      Before making the decision we built and tested several collection mechanisms, did a lot of mathematical calculations, and made a complete CAD model of the robot.
    </p>
    <p>
      Sabertooth utilized a layered rubber-band collection system which could collect a full load of five blocks in 2.5 seconds. It then transported the blocks to the mountain goals by means of a 3-stage cascaded linear lift that could deploy in three seconds and had enough torque for us to hang. We didn't have it finished by North Super Regional, but we later completed it after our season ended and have used it for multiple demos and presentations. After some slight modifications to the hopper design we were able to score five loads of blocks in a match.
    </p>
  </div>
</div>


<div class="container">
  <div class="well">
    <br>
    <img style='float:left; height:250px; margin-right:10px;' src="{{ url_for('static', filename='img/C4.jpg') }}" alt="...">

    <h1>2014-2015 Cascade Effect Robot: C4</h1>
    <p><a href="https://www.youtube.com/watch?v=RodL4HOBA5U">Cascade Effect Game Video</a></p>
    <p>
      C4 used a dual-height spinning foam paddle to gather the balls. Our hopper would then rise to the correct goal height by means of our linear lift and score out the back into the goals.
    </p>
    <p>
    <img style='float:right; height:150px; margin-left:10px;' src="{{ url_for('static', filename='img/RB reel.jpg') }}" alt="...">
      In all of our competitions leading up to the World Championship we had a rubber-band reel which was very innovative and cool, but it was limiting our scoring. After some testing we changed to the foam paddle with increased our ball pickup speed by 500%! (To gather a full load of 5 balls we went from 15 seconds to 3 seconds)
    </p>
    <p>
      We could reach all the goals, and by the end of our season we could fill the 90 cm and 120 cm goals, as well as possibly getting a few balls in the 60 cm. At the World Championship we had a consistent center goal autonomous. We also had a 140 pt. ramp autonomous which drove off the ramp, scored a ball in the 60 cm goal, scored a ball in the 90 cm goal, and then brought all 3 goals back to the parking zone. This made us one of only two teams (that we know of) at the World Championship who were able to score 140 points in autonomous.
    </p>
    <p>
      In practice by ourselves our high score was 653 points, and with another robot (Team #4211 The Bombers) we scored 924 points – all the points available in tele-op and all but 30 available in autonomous.
    </p>
    <p>
      At the 2015 World Championship we had a record of 6 wins, 3 losses, and ended in 21st place in our division. We were not picked for an alliance, but we had an awesome year and learned a ton about electro-static-discharge (a problem we began to encounter early in the year) and properly using the design process.
    </p>
    <p>
      C4 later acted as the ringbearer at the wedding of two Robo Raiders alumni.
    </p>
  </div>
</div>


<div class="container">
  <div class="well">
    <br>
    <img style='float:left; height:250px; margin-right:10px;' src="{{ url_for('static', filename='img/Fluffe.jpg') }}" alt="...">
    <h1>2013-2014 Block Party Robot: FLUFF-E (Fun Loving Unit of Fantastic FIRST Engineering)</h1>
    <p><a href="https://www.youtube.com/watch?v=_QnrwncPsYs">Block Party Game Video</a></p>
    <p>
      To collect and score blocks we had a scoop with bent over edges to allow for a wider, and thus faster, collection. We also had a flag spinner that could raise the flag in 3-4 seconds. To hang we had an arm that raised a hook and attached to the bar. We could then winch in our cable with a dual-speed winch, high speed to pull in the cable slack, high torque to lift the robot. It was very compatible for double hanging, but we never fully accomplished a double hang at Worlds.
    </p>
    <p>
      At the World Championship we had full scoring autonomous program that could score the autonomous block in the IR goal consistently and then get on the ramp. It was also set up with a menu so we could easily select from one of three starting positions, as well as having the ability to select which side of the ramp to go up and a variable 0 to 15 second delay.
    </p>
    <p>
      By ourselves we could score 15 to 16 blocks, raise the flag and hang for about 190 points.
    </p>
    <p>
      At the World Championship we had a record of 4 wins, 5 losses, and ended ranked 43 in our division. Our Rookie year was really fun and we learned a ton about the many different ways to accomplish a task.
    </p>
  </div>
</div>

{% endblock %}