{% extends "base.html" %}
{% block content %}

<div class="container">
  <div class="well">
      <h3>We need your help! Our 2017-2018 Fundraising Campaign Goal: <strong><em>$5000!!</em></strong></h3>
      <p>We are entering our ninth year as a robotics team, and are returning from a very successful 2016-2017 campaign that culminated with a trip to the <em>FIRST</em> World Championships where we were a selecting captain in the robot competition playoffs. To remain nationally competitive this season however, we need the help of sponsors and donors like you!</p>
  <iframe style="margin:10px" align="right" width="640" height="360" src="https://www.youtube.com/embed/9UglDziGzkU" frameborder="0" allowfullscreen></iframe>
      <p>Robot competitions are expensive! Not only do we spend much of our budget on robot hardware, but we also invest in electronics, fabrication of custom parts, marketing materials, tools, and competition fees.
</p>
      <p>Even though we work hard to be competitive, it's not all about us. It's in our Robo Raider DNA
          to share and mentor! By sponsoring us, you could help fund our robotics summer camps so that
          we may continue to spread the knowledge of STEM to our community. Your contribution could be used
          to pay for robot kits, camp materials, or even scholarships for children who would otherwise
          be unable to attend.</p>
      <p>There are several ways to support us:
          <ul>
            <li>Cash donations can be mailed directly to the Robo Raiders. (Please <a href="mailto:teamroboraiders@gmail.com">email us</a> for the address.)</li>
            <li>Cash donations can also be given through Paypal on <a href="https://wordpress.silfirst.org/">
              Southern Illinois <i>FIRST</i></a> website (click the yellow <strong>Donate</strong> button on their homepage) as a directed grant to Robo Raiders FTC 7129 for a tax credit through their 501(c)3 charitable organization status.</li>
            <li>Purchase one of our identified needs for this season from our <a href="https://www.amazon.com/gp/registry/wishlist/3PK22UJCQ961F/ref=nav_wishlist_lists_3">
          Amazon wish list</a>.</li>
            <li>Alternatively, we need to build more professional connections to help us with design ideas and reviews, fabrication techniques,
            programming insights, robotics behavioral characteristics, testing procedures, and access to more expensive tools like cnc routers.</li>
  </ul></p>
  </div>

    <div class="row">
        <div class="col-xs-8">
            <div class="well">
                <h2 class="lines hidden-xs"><span>2017-2018 Sponsors</span></h2>
                <img style='display: block; margin:auto; max-width: 100%;' src="{{ url_for('static', filename='img/coming_soon.png') }}" alt="...">
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
            </div>

        </div>
        <div class="col-xs-4">
            <div class="well">
                <h2 class="lines hidden-xs"><span>Sponsorship Levels</span></h2>
                <h3>Platinum - $1000+</h3>
                <p>Gold level benefits plus company logo on our competition banner and a thank you mention in our produced videos.</p>
                <h3>Gold - $500+</h3>
                <p>Silver level benefits plus company logo on our competition robot.</p>
                <h3>Silver - $100+</h3>
                <p>Bronze level benefits plus company name, logo, and hyperlink on our website.</p>
                <h3>Bronze - $50+</h3>
                <p>Company name and logo placed our our competition pit display boards, as well as a personal thank you note.</p>
                <h3>Other - $___?</h3>
                <p>Even if you can't commit to one of our sponsorship levels, every dollar helps! We'll send a personal thank you note for your contribution.</p>
            </div>
        </div>
    </div>


{#    <div class="well">#}
{#      <div class="row">#}
{#        <h2 class="lines hidden-xs"><span>2016-2017 Platinum Level($1000+) Sponsors</span></h2>#}
{#        <h2 class="lines visible-xs"><span>Platinum</span></h2>#}
{#        <div class="col-xs-3 text-center vcenter">#}
{#        <a href="http://www.leidos.com"><img style='margin:10px; max-width: 100%;' src="{{ url_for('static', filename='img/sponsors/leidos.png') }}" alt="..."></a>#}
{#        </div><!--#}
{#        --><div class="col-xs-3 text-center vcenter">#}
{#        <a href="http://www.ptc.com"><img style='margin:10px; max-width: 100%;' src="{{ url_for('static', filename='img/sponsors/ptc.png') }}" alt="..."></a>#}
{#        </div><!--#}
{#        --><div class="col-xs-3 text-center vcenter">#}
{#        <a href="http://www.deloitte.com"><img style='margin:10px; max-width: 100%;' src="{{ url_for('static', filename='img/sponsors/deloitte.png') }}" alt="..."></a>#}
{#        </div><!--#}
{#        --><div class="col-xs-3 text-center vcenter">#}
{#        <a href="http://www.dodstem.us"><img style='margin:10px; max-width: 100%;' src="{{ url_for('static', filename='img/sponsors/dod stem.jpg') }}" alt="..."></a>#}
{#        </div>#}
{#      </div>#}
{#      <br>#}
{#    </div>#}
{##}
{#    <div class="well">#}
{#      <div class="row">#}
{#        <h2 class="lines hidden-xs"><span>2016-2017 Gold Level($500-999) Sponsors</span></h2>#}
{#        <h2 class="lines visible-xs"><span>Gold</span></h2>#}
{#        <div class="col-xs-3 text-center vcenter">#}
{#        <div class="row"><a href="http://www.saic.com"><img style='margin:10px; max-width: 80%;' src="{{ url_for('static', filename='img/sponsors/saic.png') }}" alt="..."></a></div>#}
{#        </div>#}
{##}
{#      </div>#}
{#    </div>#}
{##}
{#    <div class="well">#}
{#      <h2 class="lines hidden-xs"><span>2016-2017 Silver Level($250-499) Sponsors</span></h2>#}
{#      <h2 class="lines visible-xs"><span>Silver</span></h2>#}
{#      <div class="col-xs-3 text-center vcenter">#}
{#        <div class="row"><a href="http://www.gqueues.com"><img style='margin:10px; max-width: 100%;' src="{{ url_for('static', filename='img/sponsors/gqueues.png') }}" alt="..."></a></div>#}
{#        </div>#}
{#        <div class="col-xs-3 text-center vcenter">#}
{#        <div class="row"><a href="http://www.unclemoustache.com/"><img style='margin:10px; max-width: 80%;' src="{{ url_for('static', filename='img/sponsors/uncle moustache.png') }}" alt="..."></a></div>#}
{#        </div>#}
{#    </div>#}

</div>

{% endblock %}