{% extends "base.html" %}

{% block content %}

    <h2>{{ team[0].name }} team data</h2>
    <h3>{{ comp[0].name }}</h3>

    <table class="table sticky-header table-responsive table-bordered table-striped" id="pit_report">
    <caption>Scouting Records</caption>
    {% for x in pit_scouting %}
    <tr>
        <th colspan="2"><a href="{{  url_for('delete_scouting_record', id = x.id) }}">Delete Scouting Record?</a></th>
    </tr>
    <tr>
        <td>Hit Jewel (a)</td>
        <td>{{ x.a_jewel }}</td>
    </tr>
    <tr>
        <td>Glyphs (a)</td>
        <td>{{ x.a_glyphs }}</td>
    </tr>
    <tr>
        <td>Correct Column (a)</td>
        <td>{{ x.a_glyph_correct }}</td>
    </tr>
    <tr>
        <td>Parking (a)</td>
        <td>{{ x.a_park }}</td>
    </tr>
    <tr>
        <td>Glyphs (t)</td>
        <td>{{ x.t_glyphs }}</td>
    </tr>
    <tr>
        <td>Crypto Columns (t)</td>
        <td>{{ x.t_crypto_columns }}</td>
    </tr>
    <tr>
        <td>Crypto Rows (t)</td>
        <td>{{ x.t_crypto_rows }}</td>
    </tr>
    <tr>
        <td>Crypto Cipher (t)</td>
        <td>{{ x.t_crypto_cipher }}</td>
    </tr>
    <tr>
        <td>Relic Zone (t)</td>
        <td>{{ x.t_relic_zone }}</td>
    </tr>
    <tr>
        <td>Parking (t)</td>
        <td>{{ x.t_park }}</td>
    </tr>
    <tr>
        <td>Score Projection</td>
        <td>{{ x.score_projection }}</td>
    </tr>
    <tr>
        <td>Notes</td>
        <td>{{ x.notes }}</td>
    </tr>
    {% endfor %}
    </table>

    <table class="table sticky-header table-responsive table-bordered table-striped">
    <caption>Match Records</caption>
    {% for match in match_scores %}
    <tr>
        <th colspan="2"><a href="{{  url_for('delete_match_record', id = match.id) }}">Match {{ match.match_number }}: Delete Record?</a></th>
    </tr>
       <tr>
        <td>Hit Jewel (a)</td>
        <td>{{ match.a_hit_jewel }}</td>
    </tr>
    <tr>
        <td>Glyphs (a)</td>
        <td>{{ match.a_glyphs_delivered }}</td>
    </tr>
    <tr>
        <td>Correct Column (a)</td>
        <td>{{ match.a_glyph_correct }}</td>
    </tr>
    <tr>
        <td>Parking (a)</td>
        <td>{{ match.a_park }}</td>
    </tr>
    <tr>
        <td>Glyphs (t)</td>
        <td>{{ match.t_glyphs_delivered }}</td>
    </tr>
    <tr>
        <td>Crypto Columns (t)</td>
        <td>{{ match.t_crypto_columns }}</td>
    </tr>
    <tr>
        <td>Crypto Rows (t)</td>
        <td>{{ match.t_crypto_rows }}</td>
    </tr>
    <tr>
        <td>Crypto Cipher (t)</td>
        <td>{{ match.t_crypto_cipher }}</td>
    </tr>
    <tr>
        <td>Relic Zone (t)</td>
        <td>{{ match.t_relic_score }}</td>
    </tr>
    <tr>
        <td>Parking (t)</td>
        <td>{{ match.t_park }}</td>
    </tr>
        <tr>
        <td>Autonomous Score</td>
        <td>{{ match.a_score }}</td>
    </tr>
    <tr>
        <td>Teleop Score</td>
        <td>{{ match.t_score }}</td>
    </tr>
        <tr>
        <td>Total Score</td>
        <td>{{ match.total_score }}</td>
    </tr>
    <tr>
        <td>Notes</td>
        <td>{{ match.notes }}</td>
    </tr>
    {% endfor %}
    </table>

{% endblock %}